{% extends 'employee/base_employee.html' %}
		{% block content %}
<style>
    input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    width: 25px;
    height: 20px;
    }
</style>

<div class="content container-fluid">{% load staticfiles %}
					<div class="row">
						<div class="col-sm-8">
							<h4 class="page-title">Edit Profile</h4>
						</div>
					</div>
					<form>

						<div class="card-box">
							<h3 class="card-title">Basic Informations</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="profile-img-wrap">
										<img class="inline-block" src="{% static 'assets/img/user.jpg' %}" alt="user">
										<div class="fileupload btn btn-default">
											<span class="btn-text">edit</span>
											<input class="upload" type="file">
										</div>
									</div>
									<div class="profile-basic">
										<div class="row">
											<div class="col-md-5">
												<div class="profile-info-left">
													<h3 class="user-name m-t-0 m-b-0">John Doe</h3>
													<small class="text-muted">Web Designer</small>
													<div class="staff-id">Employee ID : FT-0001</div>
													<div class="staff-id">Date Of Joining : 25/11/2017</div>
													<div class="staff-msg"><a href="{% url 'compose_employee' %}" class="btn btn-primary">Send Message</a></div>
												</div>
											</div>
											<div class="col-md-7">
												<ul class="personal-info">
													<li>
														<span class="title">Mobile No:</span>
														<span class="text"><a href="#">9876543210</a></span>
													</li>
													<li>
														<span class="title">Email:</span>
														<span class="text"><a href="#">johndoe@example.com</a></span>
													</li>
													<li>
														<span class="title">Position:</span>
														<span class="text"><a href="#">Team Lead</a></span>
													</li>
													<li>
														<span class="title">Reporting Person:</span>
														<span class="text"><a href="#">Christy</a></span>
													</li>
													<li>
														<span class="title"> Gender:</span>
														<span class="text"><a href="#">Male</a></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="card-box">
						<h3 class="card-title">Compensation Informations</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="profile-view">
								<div class="row">
									<div class="col-md-1"></div>
										<div class="col-md-5 profile-info-left">
												<ul class="personal-info">
													<li>
														<span class="title">Gross:</span>
														<span class="text"><a href="#">8500</a></span>
													</li>
													<li>
														<span class="title">Employee PF:</span>
														<span class="text"><a href="#">4500</a></span>
													</li>
												</ul>
											</div>
											<div class="col-md-6">
												<ul class="personal-info">
													<li>
														<span class="title">Net Take Home:</span>
														<span class="text"><a href="#">6000</a></span>
													</li>
													<li>
														<span class="title">Tax:</span>
														<span class="text"><a href="#">50</a></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
												  <div class="card-box">
							 <h3 class="card-title">Address Informations</h3>
							 <div class="row">
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">Temporary Address</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">Permanent Address</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">State</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">State</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">City</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">City</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">Pin Code</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
								<div class="col-md-6">
								   <div class="form-group form-focus">
									  <label class="control-label">Pin Code</label>
									  <input type="text" class="form-control floating" />
								   </div>
								</div>
							 </div>
						  </div>
						<div class="card-box">
							<h3 class="card-title">Emergency Contact Person</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Person Name</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Relation</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Person Contact No.</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Occupation</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>

							</div>
						</div>


						<div class="card-box">
							<h3 class="card-title">Personal Information</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Name</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Father's Name</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Official Email</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">PAN</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Date of Birth </label>
										<div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Contact No.</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
									<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Personal Email</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Blood Group</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
							</div>
						</div>

                        <div class="card-box">
							<h3 class="card-title">Educational Information</h3>
							<div class="row">
                                <div class="col-md-4"><h4>10th</h4>
									<div class="form-group form-focus">
										<label class="control-label">Passing Year</label>
										<input type="text" class="form-control floating" />
									</div>

								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Marks</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Board</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Subject</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
                            </div>

                                	<div class="col-md-4"><h4>12th</h4>
									<div class="form-group form-focus">
										<label class="control-label">Passing Year</label>
										<input type="text" class="form-control floating" />
									</div>

								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Marks</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Board</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Subject</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
                            </div>

                                <div class="col-md-4"><h4>Graduation</h4>
									<div class="form-group form-focus">
										<label class="control-label">Passing Year</label>
										<input type="text" class="form-control floating" />
									</div>

								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Marks</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">University</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="">
									<div class="form-group form-focus">
										<label class="control-label">Branch</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
                            </div>
							</div>
							<div class="input-group form-focus m-t-20 m-b-30">
			  					<input type="text" value="Html,Css" data-role="tagsinput" placeholder="Add Skills" > </div>
		  					<div class="add m-t-10"></div>
							<br>
   							<a id="clonebtn" class="btn btn-success">Add More+</a>
						</div>
                        <div class="card-box">
							<h3 class="card-title">Experience</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Organization</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Designation</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Period From</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Period To</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>
                                <div class="col-md-12">
									<div class="form-group form-focus">
										<label class="control-label">Reasion For Leaving</label>
										<input type="text" class="form-control floating" />
									</div>
								</div>

							</div>
							<div class="add1 m-t-10"></div>
		   					<br>
         					<a id="clonebtn1" class="btn btn-success">Add More+</a>
						</div>
						<div class="text-center m-t-20">
							<button class="btn btn-primary btn-lg" type="button">Save &amp; update</button>
						</div>
					</form>
				</div>
 <!--add more for education-->
	   <div class="hidden" id="addmore">
		   <div class="row">
			   <div class="col-md-12 card-box">
               <h4>Other Details</h4>
				   <a class="btn btn-danger removebtn" style="display:none;margin-top: -30px;float: right;" onclick="divRemove(this.id);"><i class="fa fa-times"></i></a>
               <br>
			   <div class="col-md-6">
				   <div class="form-group form-focus">
					  <label class="control-label">Passing Year</label>
					  <input type="text" class="form-control floating" />
				   </div>
			   </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">Marks</label>
                     <input type="text" class="form-control floating" />
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">University</label>
                     <input type="text" class="form-control floating" />
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">Branch</label>
                     <input type="text" class="form-control floating" />
                  </div>
               </div>
            </div>
		   </div>
	   </div>
<!--add more for education-->
<!--add more for experience-->
       <div class="hidden" id="addmore1">
         <div class="row">
         <div class="col-md-12 card-box">
               <h4>Other Details</h4>
				   <a class="btn btn-danger removebtn1" style="display:none;margin-top: -30px;float: right;" onclick="divRemove1(this.id);"><i class="fa fa-times"></i></a>
               <br>
            <div class="col-md-6">
               <div class="form-group form-focus">
                  <label class="control-label">Organization</label>
                  <input type="text" class="form-control floating" />
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group form-focus">
                  <label class="control-label">Designation</label>
                  <input type="text" class="form-control floating" />
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group form-focus">
                  <label class="control-label">Period From</label>
                  <div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group form-focus">
                  <label class="control-label">Period To</label>
                  <div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-group form-focus">
                  <label class="control-label">Reasion For Leaving</label>
                  <input type="text" class="form-control floating" />
               </div>
            </div>
         </div>
       </div>
    </div>

<!--add more for experience-->

{% endblock %}
{% block javascript %}
		<script type="text/javascript" src="{% static 'assets/js/jquery.multi-select.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/bootstrap-tagsinput.min.js' %}"></script>
<script>
   function addfocus(){

	if($('.floating').length > 0 ){
		$('.floating').on('focus blur', function (e) {
		$(this).parents('.form-focus').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
		}).trigger('blur');
	}

	// Date Time Picker

	if($('.datetimepicker').length > 0 ){
		$('.datetimepicker').datetimepicker({
			format: 'DD/MM/YYYY'
		});
	}

	}
</script>
<script>
		   var cloneCount = 1;
		   $("#clonebtn").click(function(){
			   var cnt=cloneCount++;
			   $("#addmore").clone()
			   .attr('id', 'clone_'+ cnt)
			   .appendTo(".add");
			   $("#clone_"+cnt+" .removebtn").attr('id', 're'+cnt).show();
			   $("#clone_"+cnt).removeClass('hidden');
			   addfocus();
		   });

		  function divRemove(value){
		   $('#'+value).parent().remove();
		  }
 </script>
<script>
		   var cloneCount = 1;
		   $("#clonebtn1").click(function(){
			   var cnt=cloneCount++;
			   $("#addmore1").clone()
			   .attr('id', 'clone_'+ cnt)
			   .appendTo(".add1");
			   $("#clone_"+cnt+" .removebtn1").attr('id', 're'+cnt).show();
			   $("#clone_"+cnt).removeClass('hidden');
			   addfocus();
		   });

		  function divRemove1(value){
		   $('#'+value).parent().remove();
		  }
 </script>
{% endblock %}