{% extends 'manager/base_manager.html' %}
		{% block content %}

<div class="content container-fluid">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="page-title">Designations</h4>
						</div>

					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table m-b-0 datatable">
									<thead>
										<tr>
											<th>#</th>
											<th>Designation </th>
											<th>Department </th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Web Designer</td>
											<td>Web Development</td>

										</tr>
										<tr>
											<td>2</td>
											<td>Web Developer</td>
											<td>Web Development</td>

										</tr>
										<tr>
											<td>3</td>
											<td>Android Developer</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>4</td>
											<td>IOS Developer</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>5</td>
											<td>UI Designer</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>6</td>
											<td>UX Designer</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>7</td>
											<td>IT Technician</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>8</td>
											<td>Product Manager</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>9</td>
											<td>SEO Analyst</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>10</td>
											<td>Front End Designer</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>11</td>
											<td>Front End Developer</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>11</td>
											<td>Systems Engineer</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>12</td>
											<td>Systems Administrator</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>13</td>
											<td>Technical Lead</td>
											<td>Application Development</td>

										</tr>
										<tr>
											<td>13</td>
											<td>Quality Assurance</td>
											<td>Application Development</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
{% endblock %}